.splitpage{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/*

If the screen is smaller than 600px, stack the links on top of each other, instead of next to each other with width 100%

*/

.splitpage .content-left{
    width: 60%;
    margin:10px;
}

.splitpage .content-right{
    width: 30%;
    margin:10px;
}

@media screen and (max-width: 1000px) {
    .splitpage {
        flex-direction: column;
    }
    .splitpage .content-left{
        width: 100%;
        margin: 10px 0px;
    }
    .splitpage .content-right{
        width: 100%;
        margin: 10px 0px;
    }
}

.event{
    width: 300px;
    border-top: 8px solid #f1f1f1;
}

.event-image{
    margin-right:10px;
    width: 40px;
}

.event-content{
    width: 100%;
}

.event-title{
    margin:0;
}

.event-header{
    margin-bottom: 5px;
}

.event-date{
    margin-top:10px;
}

.event-hidden{
    opacity: 0.7;
}

.announcement{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.announcement-content{
    width: 100%;
}

.announcement-title{
    text-align: left;
}