
.form{
    margin:10px;
    border: 1px dashed rgba(0,0,0,0.5);
    padding:10px;
    border-radius: 8px;
}

.form .section{
    margin: 10px 0px;
}

.event-create-detail-item{
    margin: 10px;
}

.event-create-details{
    flex-wrap: wrap;
}

.event-create-detail-value{
    font-weight: bold;
    resize: none;
}

.event-create-item{
    padding: 15px 0px;
    border-bottom: 1px dashed #ccc;

}

.event-create-main-info{
    margin: 5px;
}

.event-create-detail-tag{
    margin-left:5px;
    margin-bottom: 2px;
}

.event-create-list{
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}
.event-create-header{
    margin-bottom: 20px;

}
.event-create-footer{
    margin-top: 20px;
}

.event-create-vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: calc(100vh - 100px);
}

.no-display{
    display: none;
}

.error-message{
    margin-top:5px;
}

.permission-input{
    width: 50px;
}

.message-in-box{
    margin: 5px 10px;
    margin-top:10px;
}

.textarea{
    width: 100%;
    height: 200px;
    resize: none;
}

.icon-preview{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid transparent;
    margin: 0px 5px;
}