.user-detail-item{
    margin: 10px;
}

.user-details{
    flex-wrap: wrap;
}

.user-detail-value{
    font-weight: bold;
    resize: none;
}

.user-item{
    padding: 15px 0px;
    width:100%;
    border-bottom: 1px dashed #ccc;

}

.user-main-info{
    margin: 5px;
    text-align: left;
}

.user-detail-tag{
    margin-left:5px;
    margin-bottom: 2px;
}

.user-list{
    height: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}
.user-header{
    margin-bottom: 20px;

}
.user-footer{
    margin-top: 20px;
}

.user-vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: calc(100vh - 100px);
}


.user-details-account{
    width: 55%;
    justify-content: start;
}

.user-details-role{
    width:20%;
}

.user-details-actions{
    width: 20%;
    justify-content: end;
}


.no-display{
    display: none;
}

.error-message{
    margin-top:5px;
}

.permission-input{
    width: 50px;
}

.message-in-box{
    margin: 5px 10px;
    margin-top:10px;
}

.checkbox-container{
    margin-right:10px;
}